<div class="footer">
    <b>how to use</b><br>
    <p><b>register</b> entering a username, password and your codeforces ID <br>
        <b>login</b> using your credentials <br>
        this website helps you <b>track</b> your friends as to what there current and highest rating is<br>
        it also fetched you the list of upcoming <b>contests</b>
    </p>
</div>